{% extends 'base.html' %}

{% block content %}


<h3>Hello world, this is going to be the action item list</h3>
<div class=container>
    <form>
        <div class="col">
            <div class="col">
                <input type="text" class="form-control" placeholder="Item #">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Task Name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Task Details">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Owner">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Priority">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Start Date">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Estimated Completion Date">
            </div>
        </div>
    </form>
</div>




{% endblock  %}